<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95834810017-3e1semi7e4ojen13gbq1ib1bspcrcfps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95834810017-3e1semi7e4ojen13gbq1ib1bspcrcfps</string>
	<key>API_KEY</key>
	<string>AIzaSyBs0y-XVMsEt0yYOTezh2B3zxwKZk_v23k</string>
	<key>GCM_SENDER_ID</key>
	<string>95834810017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.rhkrthdud7.Gagaebu</string>
	<key>PROJECT_ID</key>
	<string>gagaebu-50285</string>
	<key>STORAGE_BUCKET</key>
	<string>gagaebu-50285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:95834810017:ios:00121d9cb986e8db1772e0</string>
	<key>DATABASE_URL</key>
	<string>https://gagaebu-50285.firebaseio.com</string>
</dict>
</plist>
